.caja {
  position: relative;
  width: 100%;
  height: 100%;
}

.circulo {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
}

.imgBackground {
  background-image: url("https://img.hotimg.com/silueta.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 100%;
}

.text-colegio {
  color: #fff;
}