.caja {
  position: relative;
  width: 100%;
  height: 100%;
}

.circulo {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  color: white;
  /* Color blanco */
  justify-content: center;
  align-items: center;
  color: white;
  top: -10px;
  font-weight: bold;
}

.circuloGreen {
  width: 30px; /* Ajusta el tamaño a 25px */
  height: 30px; /* Ajusta el tamaño a 25px */
  background-color: green; /* Cambia el color de fondo a verde */
  animation: agrandar 0.5s ease; /* Agrega una animación de agrandamiento de 0.5 segundos */
}

@keyframes agrandar {
  0% { transform: scale(1); } /* Tamaño normal */
  100% { transform: scale(1.5); } /* Se agranda al 150% */
}

.imgBackground {
  background-image: url("https://img.hotimg.com/munieco0abd8ddbbdcb0acc.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 90%;
}

.text-colegio {
  color: #fff;
}

.bgFondo {
  background-image: url('https://img.hotimg.com/bg-fondo.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;

}

.vista{
  font-weight: bold;
    color: #FFF;
    font-size: 24px;
}